html {

  //
  // Border Radius Variant
  //
  
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;

  //
  // Spacers are used to define the distances for your Margins and Paddings
  //

  --spacer-base: 8px;
  --spacer-0: var(--spacer-base) / 2;
  --spacer-1: var(--spacer-base);
  --spacer-2: var(--spacer-base) * 1.5;
  --spacer-3: var(--spacer-base) * 2;
  --spacer-4: var(--spacer-base) * 3;
  --spacer-5: var(--spacer-base) * 4;
  --spacer-6: var(--spacer-base) * 5;
  --spacer-7: var(--spacer-base) * 6;
  --spacer-8: var(--spacer-base) * 7;
  --spacer-9: var(--spacer-base) * 8;
}

//
// Basic flexbox usage
//

@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

//
// Basic grid usage
//

@mixin grid($min-width: 0, $max-width: 1fr, $gap: 16px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-width, $max-width));
  gap: $gap;
}

//
// Set padding and box-sizing together
//

@mixin padding($padding, $box-sizing: border-box) {
  padding: $padding;
  box-sizing: $box-sizing;
}